@model VIMS.Models.Expense

@{
    ViewBag.Title = "Details";
}

    <div class="card shadow-lg">
        <div class="card-body">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="text-center" style="font-family:Pacifico">Expense Details</h1>
                </div>
            </div>
            <div class="card mt-3 shadow">
                <div class="card-body">
                    <div>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.DateOfExpense):
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DateOfExpense)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.TypeOfExpense):
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.TypeOfExpense)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.AmountOfExpense):
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.AmountOfExpense)
                            </dd>
                            <dt>
                                Added By:
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ApplicationUser.Name)
                            </dd>

                        </dl>
                    </div>

                </div>
            </div>
        </div>
        <br />
        <p class="p-3">
            @Html.ActionLink("Edit", "Edit", new { id = Model.ExpenseId }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>


