@model VIMS.Models.CustomerPolicyRecord

@{
    ViewBag.Title = "Details";
}
<div class="card shadow-lg">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-body">
                        <h1 style="font-family:Pacifico; font-size:50px;" class="text-lg-center">Customer Policy Record</h1>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div>
            <div class="row">
                <div class="col-12 results">
                    <div class="card shadow-lg" style="width:100% !important;">
                        <div class="card-body">
                            <h1 class="p-2" style="font-family:Pacifico">Vehicle Details</h1>
                            <hr />
                            <div class="row">
                                <div class="col-4">
                                    @foreach (var item in Model.VehicleInformation.VehicleImages)
                                    {
                                        <img class="card-img-top border" src="../../../Data/@(item.Id + item.Extension)" alt="">
                                        break;
                                    }
                                </div>
                                <div class="col-8">
                                    <br />
                                    <a class="text-dark" href='Details/@Html.DisplayFor(model => model.VehicleInformation.VehicleInformationId)'><h4 class="card-title" style="font-family:Pacifico; font-size:30px;">#@Html.DisplayFor(model => model.VehicleInformation.VehicleInformationId) :@Html.DisplayFor(model => model.VehicleInformation.VehicleName)</h4></a>
                                    <br />
                                    <div class="row" style="font-family:'Century Gothic';font-size:18px;">
                                        <div class="col">
                                            <p class="card-text">
                                                Owner : @Html.DisplayFor(model => model.ApplicationUser.Name)
                                                <br />
                                                Rate : @Html.DisplayFor(model => model.VehicleInformation.VehicleRate) Rs
                                            </p>
                                        </div>

                                        <div class="col">
                                            <p class="card-text">
                                                Model : @Html.DisplayFor(model => model.VehicleInformation.VehicleModel)
                                                <br />
                                                Engine Number : @Html.DisplayFor(model => model.VehicleInformation.VehicleEngineNumber)
                                                <br />
                                                Body Number : @Html.DisplayFor(model => model.VehicleInformation.VehicleBodyNumber)
                                                <br />

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    <div class="card shadow">
                        <div class="card-body">
                            <h1 class="p-2" style="font-family:Pacifico">Application Details</h1>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt class="h5" style="font-weight:bold">
                                    @Html.DisplayNameFor(model => model.ApplicationUser.Name):
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.ApplicationUser.Name)
                                </dd>

                                <dt class="h5" style="font-weight:bold">
                                    @Html.DisplayNameFor(model => model.PolicyNumber):
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.PolicyNumber)
                                </dd>

                                <dt class="h5" style="font-weight:bold">
                                    @Html.DisplayNameFor(model => model.PolicyDate):
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.PolicyDate)
                                </dd>

                                <dt class="h5" style="font-weight:bold">
                                    @Html.DisplayNameFor(model => model.Tracker):
                                </dt>

                                <dd>
                                    @if ((Convert.ToBoolean(Model.Tracker) == true))
                                    {
                                        <p>Included</p>
                                    }
                                    else
                                    {
                                        <p>Not Included</p>
                                    }
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow">
                        <div class="card-body">
                            <h1 class="p-2" style="font-family:Pacifico">Application Details</h1>
                            <hr />
                            <p class="text-center h5" style="font-weight:bold">@Html.DisplayNameFor(model => model.PolicyType): @Html.DisplayFor(model => model.PolicyType.Type)</p>
                            <p class="text-center h5">@Html.DisplayFor(model => model.PolicyType.Description)</p>
                            <br />
                            <dl class="dl-horizontal">
                                <dt class="h5">Rate applied: @Html.DisplayFor(model => model.PolicyType.Rate) %</dt>
                                <dt class="h5">@Html.DisplayNameFor(model => model.PolicyType.Duration): @Html.DisplayFor(model => model.PolicyType.Duration)</dt>
                                @if ((Convert.ToBoolean(Model.Tracker) == true))
                                {
                                    <dt class="h5">@Html.DisplayNameFor(model => model.PolicyType.Tracker): @Html.DisplayFor(model => model.PolicyType.Tracker) %</dt>

                                }
                                else
                                {
                                    <dt class="h5">@Html.DisplayNameFor(model => model.PolicyType.Tracker): Not Included</dt>

                                }
                                @{
                                    double rate = Model.PolicyType.Rate;
                                    double vehicleRate = Model.VehicleInformation.VehicleRate;
                                    double r_amount = (rate * vehicleRate) / 100;
                                    double trackerRate = Model.PolicyType.Tracker;
                                    double t_amount = (trackerRate * vehicleRate) / 1000;
                                    
                                }
                                <dt class="h5">Amount Charged: @rate % x @vehicleRate = @r_amount Rs</dt>
                                <dt class="h5">Tracker: @trackerRate % x @vehicleRate = @t_amount Rs</dt>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <a href="/CustomerBillingInformations/Generate/@Model.Id" class="btn btn-lg btn-dark w-100">Generate Bill</a>
            </div>
        </div>
    </div>
</div>