@model IEnumerable<VIMS.Models.CustomerPolicyRecord>

@{
    ViewBag.Title = "Index";
}

<div class="card">
    <div class="card-body">

        <div class="row">
            <div class="col-10">
                <h2 style="font-family:Pacifico">My Applications</h2>
            </div>
            <div class="col">
                <a href="/CustomerPolicyRecords/Create/" class="btn btn-dark btn-sm float-right"><i class="fas fa-plus"></i></a>
            </div>
        </div>
        <hr />

        <table class="table table-hover table-bordered">
            <tr class="thead-dark">
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PolicyNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PolicyType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VehicleInformation.VehicleName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PolicyNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PolicyType.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleInformation.VehicleCompany)
                    </td>


                    @using Microsoft.AspNet.Identity;
                    @if (User.Identity.GetUserId() == item.ApplicationUserId)
                    {
                        <td>
                            @Html.ActionLink("Details", "Details", new { id = item.Id })
                            | @Html.ActionLink("Remove", "Delete", new { id = item.Id })
                        </td>
                    }
                    else
                    {
                        <td>

                            @Html.ActionLink("Details", "Details", new { id = item.Id })
                        </td>


                    }

                </tr>
            }

        </table>
    </div>
</div>