@model dynamic
@using WebApplication19.Models;
@{
    ViewBag.Title = "Dashboard";
}
<div class="row">

    @{
        string[] data = ViewBag.MonthlyData.Split(':');
    }
</div>
<div class="row">
    <div class="col-md-6 col-lg-3 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h1 class="font-weight-light mb-4">18833</h1>
                <div class="d-flex flex-wrap align-items-center">
                    <div>
                        <h4 class="font-weight-normal">Customers</h4>
                        <p class="text-muted mb-0 font-weight-light">800 New customers</p>
                    </div>
                    <i class="mdi mdi-account-multiple icon-lg text-primary ml-auto">
                        <i class="fa fa-users"
                           aria-hidden="true"></i>
                    </i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h1 class="font-weight-light mb-4">5757</h1>
                <div class="d-flex flex-wrap align-items-center">
                    <div>
                        <h4 class="font-weight-normal">Orders</h4>
                        <p class="text-muted mb-0 font-weight-light">1600 Daily orders</p>
                    </div>
                    <i class="mdi mdi-chart-pie icon-lg text-danger ml-auto"><i class="fa fa-chart-pie"></i></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h1 class="font-weight-light mb-4">28534</h1>
                <div class="d-flex flex-wrap align-items-center">
                    <div>
                        <h4 class="font-weight-normal">Delivery</h4>
                        <p class="text-muted mb-0 font-weight-light">760 New items</p>
                    </div>
                    <i class="mdi mdi-car icon-lg text-info ml-auto"><i class="fas fa-car-side    "></i></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h1 class="font-weight-light mb-4">59450</h1>
                <div class="d-flex flex-wrap align-items-center">
                    <div>
                        <h4 class="font-weight-normal">Verified</h4>
                        <p class="text-muted mb-0 font-weight-light">540 Verified users</p>
                    </div>
                    <i class="mdi mdi-verified icon-lg text-success ml-auto"><i class="fas fa-vote-yea    "></i></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-7 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <h4 class="card-title">Statistics</h4>
                </div>
                <div id="statistics-legend" class="chartjs-legend mt-2 mb-4"></div>
                <canvas id="statistics-chart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-5 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <h4 class="card-title" style="font-family:Pacifico">Policy applications</h4>
                </div>
                <canvas id="traffic-chart" class="mt-2" style="height:400px !important;"></canvas>
                <div class="d-flex mt-5 mb-0 align-items-center">
                    <div id="traffic-legend" class="chartjs-legend traffic-legend mr-4"></div>
                    <h3 class="mb-0 font-weight-normal">@ViewBag.CountPolicy</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <h1 class="card-title" style="font-family:Pacifico">Policies we provide !!</h1>
                    <hr />
                </div>
                @foreach (var item in Model.Policies)
                {
                    <div class="preview-list">
                        <div class="preview-item pt-0">
                            <div class="preview-item-content flex-grow-1">
                                <h6 style="font-weight:bold">@item.Type</h6>
                                <p class="text-muted font-weight-light mb-0">@item.Description</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Analysis</h4>
                <canvas id="analysis-chart"></canvas>
                <div class="d-lg-flex justify-content-around mt-5">
                    <div class="text-center mb-3 mb-lg-0">
                        <h3 class="font-weight-light text-success">+40.02%</h3>
                        <p class="text-muted mb-0">Growth</p>
                    </div>
                    <div class="text-center mb-3 mb-lg-0">
                        <h3 class="font-weight-light text-danger">2.5%</h3>
                        <p class="text-muted mb-0">Refund</p>
                    </div>
                    <div class="text-center">
                        <h3 class="font-weight-light text-primary">+23.65%</h3>
                        <p class="text-muted mb-0">Online</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Vehicle Informations</h4>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Company</th>
                                <th>Name</th>
                                <th>Model</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Vehicles)
                            {
                                <tr>
                                    <td>@item.VehicleInformationId</td>
                                    <td>@item.VehicleCompany</td>
                                    <td>@item.VehicleName</td>
                                    <td>@item.VehicleModel</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="d-flex mt-4">
                        <nav class="ml-auto">
                            <ul class="pagination pagination-flat pagination-primary">
                                <li class="page-item">
                                    <a class="page-link" href="#"><i class="mdi mdi-chevron-left"></i></a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#"><i class="mdi mdi-chevron-right"></i></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        if ($("#traffic-chart").length) {
            var trafficData = {
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                datasets: [{
                    //data: [0, 2, 9, 6, 1, 5, 7, 2],
                    data: [@data[0], @data[1], @data[2], @data[3], @data[4], @data[5], @data[6], @data[7], @data[8], @data[9], @data[10], @data[11]],
                    backgroundColor: [
                        '#fc5661'
                    ],
                    borderColor: [
                        '#fc5661'
                    ],
                    borderWidth: 3,
                    fill: 'false',
                    label: "applications"
                }
                ]
            };
            var trafficOptions = {
                responsive: true,
                maintainAspectRatio: true,
                plugins: {
                    filler: {
                        propagate: false
                    }
                },
                scales: {
                    xAxes: [{
                        display: true,
                        ticks: {
                            display: true
                        },
                        gridLines: {
                            display: false,
                            drawBorder: false,
                            color: 'transparent',
                            zeroLineColor: '#eeeeee'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        ticks: {
                            display: true,
                            autoSkip: false,
                            maxRotation: 0,
                            stepSize: 1,
                            min: 0,
                            max: 10
                        },
                        gridLines: {
                            drawBorder: false
                        }
                    }]
                },
                legend: {
                    display: false
                },
                tooltips: {
                    enabled: true
                },
                elements: {
                    line: {
                        tension: 0
                    },
                    point: {
                        radius: 0
                    }
                }
            }
            var trafficChartCanvas = $("#traffic-chart").get(0).getContext("2d");
            var trafficChart = new Chart(trafficChartCanvas, {
                type: 'line',
                data: trafficData,
                options: trafficOptions
            });
            document.getElementById('traffic-legend').innerHTML = trafficChart.generateLegend();
        }
    </script>
}