@model dynamic
@using WebApplication19.Models;
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!-- Header -->
<header class="header">
    <!-- Header Bottom Area -->
    <div class="header-bottomarea">
        <div class="container">
        </div>
    </div>
    <!--// Header Bottom Area -->
    <!-- Mobile Menu -->
    <div class="mobile-menu-wrapper clearfix">
        <div class="container">
            <div class="mobile-menu"></div>
        </div>
    </div>
    <!--// Mobile Menu -->

</header>
<!--// Header -->

<div class="heroslider-area in-sliderarrow">
    <!-- Hero Slider Single -->
    <div class="heroslider animated-heroslider d-flex align-items-center" data-bgimage="../../../Scripts/assets/images/bg/background-image-1.jpg"
         data-secondary-overlay="8" style="background-size:cover;">
        <div class="container">

            <div class="row align-items-center">
                <div class="col-xl-9 col-lg-8">
                    <div class="heroslider-content">
                        <h1><span>For better future, </span>Security & Privacy</h1>
                        <p>
                            We provide you the best policy which suites perfectly to you and your vehicle
                        </p>
                        <div class="heroslider-buttonholder">
                            <a href="/Home/About" class="in-button in-button-theme">About Us</a>
                            <a href="/Home/Contact" class="in-button in-button-colorwhite">Contact Us</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="heroslider-roundbox roundbox">
                        <div class="roundbox-block">
                            <span class="roundbox-icon">
                                <i class="fas fa-brain"></i>
                            </span>
                            <h5>Strategic</h5>
                        </div>
                        <div class="roundbox-block">
                            <span class="roundbox-icon">
                                <i class="fas fa-shield-alt"></i>
                            </span>
                            <h5>Secure</h5>
                        </div>
                        <div class="roundbox-block">
                            <span class="roundbox-icon">
                                <i class="fas fa-mask"></i>
                            </span>
                            <h5>Privacy</h5>
                        </div>
                        <div class="roundbox-block">
                            <span class="roundbox-icon">
                                <i class="fas fa-cogs"></i>
                            </span>
                            <h5>Operational</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Hero Slider Single -->
    <!-- Hero Slider Single -->
    <div class="heroslider animated-heroslider d-flex align-items-center" data-bgimage="../../../Scripts/assets/images/bg/background-image-3.jpg"
         data-secondary-overlay="8" style="background-size:cover;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="heroslider-content text-center">
                        <h1><span>For better future, </span>Security & Privacy</h1>
                        <p>

                        </p>
                        <div class="heroslider-buttonholder">
                            <a href="/Home/About/" class="in-button in-button-theme">About Us</a>
                            <a href="/Home/Contact/" class="in-button in-button-colorwhite">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Hero Slider Single -->
    <!-- Hero Slider Single -->
    <div class="heroslider animated-heroslider d-flex align-items-center" data-bgimage="../../../Scripts/assets/images/bg/background-image-2.jpg"
         data-secondary-overlay="8" style="background-size:cover;">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <div class="heroslider-content">
                        <h1><span>For better future </span>Security & Privacy</h1>
                        <p>
                            Got up with an accident or someone bumped into your vehicle, claim it whenever you need.
                        </p>
                        <div class="heroslider-buttonholder">
                            <a href="/Home/About/" class="in-button in-button-theme">About Us</a>
                            <a href="/Home/Contact/" class="in-button in-button-colorwhite">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Hero Slider Single -->

</div>

<!-- Features Area -->
<div class="features-area in-section section-padding-md bg-white">
    <div class="container">
        <div class="row features-wrapper">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="in-feature">
                    <span class="in-feature-icon">
                        <i class="fa fa-lock"></i>
                    </span>
                    <h4>Secure Account With Gurantee</h4>
                    <p>Your account is secured with world's best security encryption.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="in-feature">
                    <span class="in-feature-icon">
                        <i class="fa fa-hat-cowboy-side"></i>
                    </span>
                    <h4>10 Years Of Experience</h4>
                    <p>Practice makes a man perfect. After all that experience our practice still goes on.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="in-feature">
                    <span class="in-feature-icon">
                        <i class="fas fa-handshake"></i>
                    </span>
                    <h4>Dedicated Team With Strong Skill</h4>
                    <p>Unity is strength. Our skilled team is at your service any time.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--// Features Area -->
<!-- Page Conttent -->
<main class="page-content">
    <!-- Testimonial Area -->
    <div class="testimonial-area in-section section-padding-lg bg-white">
        <div class="testimonial-slider in-slidearrow-2">
            <div class="slider-item">
                <!-- Single Testimonial -->
                <div class="testimonial">
                    <div class="testimonial-header">
                        <div class="testimonial-image">
                            <img src="../../../Scripts/assets/images/testimonial/testimonial-author-1.png" alt="testimonial author">
                        </div>
                        <span><img src="../../../Scripts/assets/images/icons/title-bottom-shape.png" alt="shape"></span>
                    </div>
                    <div class="testimonial-content">
                        <p>
                            Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure abore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud dolor in reprehenderit
                        </p>
                        <h5>Tatum Hauck</h5>
                        <h6>Consultant</h6>
                    </div>
                    <ul class="testimonial-socialicons">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
                <!--// Single Testimonial -->
            </div>

            <div class="slider-item">
                <!-- Single Testimonial -->
                <div class="testimonial">
                    <div class="testimonial-header">
                        <div class="testimonial-image">
                            <img src="../../../Scripts/assets/images/testimonial/testimonial-author-1.png" alt="testimonial author">
                        </div>
                        <span><img src="../../../Scripts/assets/images/icons/title-bottom-shape.png" alt="shape"></span>
                    </div>
                    <div class="testimonial-content">
                        <p>
                            Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure abore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud dolor in reprehenderit
                        </p>
                        <h5>Lincoln Schiller</h5>
                        <h6>Consultant</h6>
                    </div>
                    <ul class="testimonial-socialicons">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
                <!--// Single Testimonial -->
            </div>

            <div class="slider-item">
                <!-- Single Testimonial -->
                <div class="testimonial">
                    <div class="testimonial-header">
                        <div class="testimonial-image">
                            <img src="../../../Scripts/assets/images/testimonial/testimonial-author-1.png" alt="testimonial author">
                        </div>
                        <span><img src="../../../Scripts/assets/images/icons/title-bottom-shape.png" alt="shape"></span>
                    </div>
                    <div class="testimonial-content">
                        <p>
                            Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure abore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud dolor in reprehenderit
                        </p>
                        <h5>Theron Gottlieb</h5>
                        <h6>Consultant</h6>
                    </div>
                    <ul class="testimonial-socialicons">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
                <!--// Single Testimonial -->
            </div>

            <div class="slider-item">
                <!-- Single Testimonial -->
                <div class="testimonial">
                    <div class="testimonial-header">
                        <div class="testimonial-image">
                            <img src="../../../Scripts/assets/images/testimonial/testimonial-author-1.png" alt="testimonial author">
                        </div>
                        <span><img src="../../../Scripts/assets/images/icons/title-bottom-shape.png" alt="shape"></span>
                    </div>
                    <div class="testimonial-content">
                        <p>
                            Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure abore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud dolor in reprehenderit
                        </p>
                        <h5>Alejandra Klein</h5>
                        <h6>Consultant</h6>
                    </div>
                    <ul class="testimonial-socialicons">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
                <!--// Single Testimonial -->
            </div>

            <div class="slider-item">
                <!-- Single Testimonial -->
                <div class="testimonial">
                    <div class="testimonial-header">
                        <div class="testimonial-image">
                            <img src="../../../Scripts/assets/images/testimonial/testimonial-author-1.png" alt="testimonial author">
                        </div>
                        <span><img src="../../../Scripts/assets/images/icons/title-bottom-shape.png" alt="shape"></span>
                    </div>
                    <div class="testimonial-content">
                        <p>
                            Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure abore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud dolor in reprehenderit
                        </p>
                        <h5>Bulah Macejkovic</h5>
                        <h6>Consultant</h6>
                    </div>
                    <ul class="testimonial-socialicons">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
                <!--// Single Testimonial -->
            </div>

        </div>
    </div>
    <!--// Testimonial Area -->
    <div data-qodef-parallax-speed="1"
         class="vc_row wpb_row vc_row-fluid qodef-section qodef-content-aligment-center qodef-parallax-section-holder qodef-parallax-section-holder-touch-disabled p-0"
         style="background-image:url(../../../Content/userImages/parallax-home-main-new.jpg);padding:0;margin:0;width:100% !important">
        <div class="clearfix qodef-full-section-inner p-0">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="vc_empty_space" style="height: 100px">
                            <span class="vc_empty_space_inner"></span>
                        </div>
                        <div class="qodef-custom-font-holder"
                             style="font-family: Montserrat;font-size: 78px;line-height: 88px;font-weight: 700;letter-spacing: -4.8px;text-transform: Capitalize;text-align: center;color: #ffffff"
                             data-font-size=78 data-line-height=88>
                            Awards.
                        </div>
                        <div class="vc_empty_space" style="height: 66px">
                            <span class="vc_empty_space_inner"></span>
                        </div>
                        <div data-qodef-parallax-speed="1"
                             class="vc_row wpb_row vc_inner vc_row-fluid qodef-section qodef-content-aligment-left qodef-grid-section"
                             style="">
                            <div class="qodef-section-inner">
                                <div class="qodef-section-inner-margin clearfix">
                                    <div class="wpb_column vc_column_container vc_col-sm-4">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_text_column wpb_content_element ">
                                                    <div class="wpb_wrapper">
                                                        <h3>
                                                            <span style="color: #ffffff;"></span>
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="vc_empty_space"
                                                     style="height: 29px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-4">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_text_column wpb_content_element ">
                                                    <div class="wpb_wrapper">
                                                        <h3>
                                                            <span style="color: #ffffff;"></span>
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="vc_empty_space"
                                                     style="height: 29px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-4">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_text_column wpb_content_element ">
                                                    <div class="wpb_wrapper">
                                                        <h3>
                                                            <span style="color: #ffffff;"></span>
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="vc_empty_space"
                                                     style="height: 29px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-qodef-parallax-speed="1"
                             class="vc_row wpb_row vc_inner vc_row-fluid qodef-section qodef-underline-link qodef-content-aligment-left qodef-grid-section"
                             style="">
                            <div class="qodef-section-inner">
                                <div class="qodef-section-inner-margin clearfix">
                                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-4 vc_col-has-fill">
                                        <div class="vc_column-inner vc_custom_1451377954317">
                                            @foreach (var item in Model.PolicySetOne)
                                            {
                                                <div class="wpb_text_column wpb_content_element ">
                                                    <div class="wpb_wrapper">
                                                        <h4>
                                                            <span style="color: #f3f2f2;">
                                                                <a href="#">
                                                                    @item.Type
                                                                </a>
                                                            </span>
                                                        </h4>
                                                    </div>
                                                </div>
                                                <div class="wpb_text_column wpb_content_element ">
                                                    <div class="wpb_wrapper">
                                                        <p>
                                                            <span style="color: #f3f2f2;">
                                                                Rate applied: @item.Rate %
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="vc_empty_space"
                                                     style="height: 15px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-4 vc_col-has-fill">
                                        <div class="vc_column-inner vc_custom_1451377977133">
                                            <div class="wpb_wrapper">
                                                @foreach (var item in Model.PolicySetThree)
                                                {
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <h4>
                                                                <span style="color: #f3f2f2;">
                                                                    <a href="#">
                                                                        @item.Type
                                                                    </a>
                                                                </span>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p>
                                                                <span style="color: #f3f2f2;">
                                                                    Rate applied: @item.Rate %
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="vc_empty_space"
                                                         style="height: 15px">
                                                        <span class="vc_empty_space_inner"></span>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-4 vc_col-has-fill">
                                        <div class="vc_column-inner vc_custom_1451377977133">
                                            <div class="wpb_wrapper">
                                                @foreach (var item in Model.PolicySetTwo)
                                                {
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <h4>
                                                                <span style="color: #f3f2f2;">
                                                                    <a href="#">
                                                                        @item.Type
                                                                    </a>
                                                                </span>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p>
                                                                <span style="color: #f3f2f2;">
                                                                    Rate applied: @item.Rate %
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="vc_empty_space"
                                                         style="height: 15px">
                                                        <span class="vc_empty_space_inner"></span>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_empty_space" style="height: 85px">
                        <span class="vc_empty_space_inner"></span>
                    </div><a href="/PolicyTypes/"
                             target="_self"
                             style="color: #3063dd;background-color: #ffffff;border-color: #ffffff"
                             class="qodef-btn qodef-btn-medium qodef-btn-solid qodef-btn-custom-hover-bg qodef-btn-custom-border-hover qodef-btn-custom-hover-color qodef-btn-icon"
                             data-hover-bg-color="#121212" data-hover-color="#ffffff"
                             data-hover-border-color="#121212">
                        <span class="qodef-btn-text">Learn More</span>
                        <span aria-hidden="true" class="qodef-icon-font-elegant">
                            <i class="fa fa-chevron-left"
                               aria-hidden="true"></i>
                        </span>
                    </a>
                    <div class="vc_empty_space" style="height: 85px">
                        <span class="vc_empty_space_inner"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- Call To Action Area -->
    <div class="calltoaction-area in-section section-padding-lg bg-image-1" data-secondary-overlay="9">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="in-cta text-center">
                        <h4>NEED AN AGENT</h4>
                        <h2>FOR POLICY PLAN</h2>

                        <a href="/Home/Contact/" class="in-button in-button-white">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Call To Action Area -->
</main>
<!--// Page Conttent -->