@model VIMS.Models.ClaimDetail

@{
    ViewBag.Title = "Details";
}

<div class="card shadow-lg">
    <div class="card-body">
        <div class="card shadow">
            <div class="card-body">
                <h1 class="text-center" style="font-family:Pacifico">Claim Details</h1>
            </div>
        </div>
        <div class="card mt-3 shadow">
            <div class="card-body">
                <div>
                    <dl class="dl-horizontal">
                        <div class="row">
                            <div class="col">
                                <dt>
                                    Claimed By:
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.ApplicationUser.Name)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.ClaimNumber):
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.ClaimNumber)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.PlaceOfAccident):
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.PlaceOfAccident)
                                </dd>

                            </div>
                            <div class="col">
                                <dt>
                                    @Html.DisplayNameFor(model => model.DateOfAccident):
                                </dt>

                                <dd>
                                    @Model.DateOfAccident.ToLongDateString()
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.InsuredAmount):
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.InsuredAmount)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.ClaimableAmount):
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.ClaimableAmount)
                                </dd>
                            </div>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
        <br />
        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>

    </div>
</div>