@model VIMS.Models.ClaimDetail

@{
    ViewBag.Title = "Details";
}

<div class="card shadow-lg">
    <div class="card-body">

        <h2>Details</h2>

        <div>
            <h4>ClaimDetail</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.CustomerPolicyRecord.ApplicationUserId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CustomerPolicyRecord.)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ClaimNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ClaimNumber)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PlaceOfAccident)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PlaceOfAccident)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DateOfAccident)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateOfAccident)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.InsuredAmount)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.InsuredAmount)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ClaimableAmount)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ClaimableAmount)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>

    </div>
</div>