@model IEnumerable<VIMS.Models.PolicyType>

@{
    ViewBag.Title = "Index";
}


<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-10">
                <h2>Types Of Insurance</h2>
            </div>
            @if (User.IsInRole("Employee"))
            {
                <div class="col-2">
                    <a href="/PolicyTypes/Create" class="btn btn-dark float-right"><i class="fas fa-plus"></i></a>
                </div>
            }
        </div>
       

       
        <br />
        <table class="table table-bordered table-hover">
            <tr class="thead-dark">
                @{

                    if (User.IsInRole("Customer"))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.Type)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                    }
                    else if (User.IsInRole("Employee"))
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.Type)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Rate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Offer)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Tracker)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ApplicationUser.Name)
                        </th>
                        <th></th>

                    }
                }
            </tr>

            @foreach (var item in Model)
            {
        <tr>
            @{

                if (User.IsInRole("Customer"))
                {
                    <th>
                        @Html.DisplayFor(model => item.Type)
                    </th>
                    <th>
                        @Html.DisplayFor(model => item.Description)
                    </th>
                }
                else if (User.IsInRole("Employee"))
                {
                    <th>
                        @Html.DisplayFor(model => item.Type)
                    </th>
                    <th>
                        @Html.DisplayFor(model => item.Rate)%
                    </th>
                    <th>
                        @Html.DisplayFor(model => item.Offer)%
                    </th>
                    <th>
                        @Html.DisplayFor(model => item.Tracker)%
                    </th>
                    <th>
                        @Html.DisplayFor(model => item.ApplicationUser.Name)
                    </th>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.PolicyTypeId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.PolicyTypeId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.PolicyTypeId })
                    </td>
                }
            }

        </tr>
            }

        </table>
    </div>
</div>
