@model VIMS.Models.Estimate
@{
    ViewBag.Title = "GenerateBill";
}

<div class="card shadow-lg">
    <div class="card-body">
        @if (TempData["id"] != null)
        {
            int vehicle_id = (int)TempData["id"];

            <h2>GenerateBill</h2>
            <h1>@vehicle_id</h1>
            @Html.DisplayFor(model => model.ApplicationUser.Name)<br />
            @Html.DisplayFor(model => model.VehicleInformation.VehicleName);
            <div class="text-center h5">@Html.ActionLink("Show Policy Record", "", "Estimates") <i class="fa fa-caret-right text-primary" aria-hidden="true"></i></div>

        }
        else
        {

            <div class="text-center h4">No vehicle registered for any type of insurance !!</div>
            <div class="text-center h5">@Html.ActionLink("Go Back to Insurance Registration", "Create", "Estimates") <i class="fa fa-caret-right text-primary" aria-hidden="true"></i></div>
        }
    </div>
</div>