@model IEnumerable<VIMS.Models.CustomerBillingInformation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow-lg">
    <div class="card-body">

        <h2 style="font-family:Pacifico">Customer Policy Bills</h2>
        <br />
        <table class="table table-hover table-bordered">
            <tr class="thead-dark">
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BillNumber)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BillNumber)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Generate", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>

    </div>
</div>