@model VIMS.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<div class="card shadow-lg">
    <div class="card-body">

        <h2>@ViewBag.Title</h2>

        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Enter your email.</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-12 control-label" })
                <div class="col-12">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    <small class="form-text text-muted">Required. Email format someone@@something.com.</small>

                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-offset-2 col-12">
                    <input type="submit" class="btn btn-dark w-100 btn-lg" value="Email Link" />
                </div>
            </div>
        }

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
