@model VIMS.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="card shadow-lg">
    <div class="card-body">


        <h2>@ViewBag.Title</h2>

        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-12 control-label" })
                <div class="col-12">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    <small class="form-text text-muted">Enter the current password, for verification.</small>

                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-12 control-label" })
                <div class="col-12">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    <small class="form-text text-muted"><ul><li>Your password can&#39;t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can&#39;t be a commonly used password.</li><li>Your password can&#39;t be entirely numeric.</li></ul></small>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-12 control-label" })
                <div class="col-12">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    <small class="form-text text-muted">Enter the same password as before, for verification.</small>

                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-offset-2 col-12">
                    <input type="submit" value="Change password" class="btn btn-dark btn-lg w-100" />
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}